#chat1 .form-outline .form-control~.form-notch div {
    pointer-events: none;
    border: 1px solid;
    border-color: #eee;
    box-sizing: border-box;
    background: transparent;
    }
    
    #chat1 .form-outline .form-control~.form-notch .form-notch-leading {
    left: 0;
    top: 0;
    height: 100%;
    border-right: none;
    border-radius: .65rem 0 0 .65rem;
    }
    
    #chat1 .form-outline .form-control~.form-notch .form-notch-middle {
    flex: 0 0 auto;
    max-width: calc(100% - 1rem);
    height: 100%;
    border-right: none;
    border-left: none;
    }
    
    #chat1 .form-outline .form-control~.form-notch .form-notch-trailing {
    flex-grow: 1;
    height: 100%;
    border-left: none;
    border-radius: 0 .65rem .65rem 0;
    }
    
    #chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: 0.125rem solid #39c0ed;
    border-bottom: 0.125rem solid #39c0ed;
    border-left: 0.125rem solid #39c0ed;
    }
    
    #chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading,
    #chat1 .form-outline .form-control.active~.form-notch .form-notch-leading {
    border-right: none;
    transition: all 0.2s linear;
    }
    
    #chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-bottom: 0.125rem solid;
    border-color: #39c0ed;
    }
    
    #chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle,
    #chat1 .form-outline .form-control.active~.form-notch .form-notch-middle {
    border-top: none;
    border-right: none;
    border-left: none;
    transition: all 0.2s linear;
    }
    
    #chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-top: 0.125rem solid #39c0ed;
    border-bottom: 0.125rem solid #39c0ed;
    border-right: 0.125rem solid #39c0ed;
    }
    
    #chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing,
    #chat1 .form-outline .form-control.active~.form-notch .form-notch-trailing {
    border-left: none;
    transition: all 0.2s linear;
    }
    
    #chat1 .form-outline .form-control:focus~.form-label {
    color: #39c0ed;
    }
    
    #chat1 .form-outline .form-control~.form-label {
    color: #bfbfbf;
    }

    /*タブのスタイル*/
    .tab_item {
        width: calc(100%/2);
        height: 50px;
        border-bottom: 3px solid #39c0ed;
        background-color: #d9d9d9;
        line-height: 50px;
        font-size: 16px;
        text-align: center;
        color: #565656;
        display: block;
        float: left;
        text-align: center;
        font-weight: bold;
        transition: all 0.2s ease;
    }
    .tab_item:hover {
        opacity: 0.75;
    }
    
    /*ラジオボタンを全て消す*/
    input[name="tab_item"] {
        display: none;
    }
    
    /*タブ切り替えの中身のスタイル*/
    .tab_content {
        display: none;
        padding: 40px 40px 0;
        clear: both;
        overflow: hidden;
    }
    
    
    /*選択されているタブのコンテンツのみを表示*/
    #form:checked ~ #form_content,
    #emotion:checked ~ #emotion_content {
        display: block;
    }
    
    /*選択されているタブのスタイルを変える*/
    .tabs input:checked + .tab_item {
        background-color: #39c0ed;
        color: #fff;
    }

    #chat1 .joy {
        color: #FFDC46;
    }

    #chat1 .trust {
        color: #B7E55C;
    }

    #chat1 .fear {
        color: #6ECC84;
    }

    #chat1 .surprise {
        color: #91C2CF;
    }

    #chat1 .sadness {
        color: #97BADB;
    }

    #chat1 .disgust {
        color: #C1ADCC;
    }

    #chat1 .anger {
        color: #ED748B;
    }

    #chat1 .anticipation {
        color: #FAB466;
    }

    #chat1 .normal {
    color: black;
    }
