body * {
    // outline: solid red 1px;
}


#emonicationRoot {
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;

    // #displayField {
    //     width: 90vw;
    //     font-size: 32px;
    //     font-weight: 800;
    //     margin-top: 40px;
    //     overflow: auto;
    // }

    .text-container {
        word-break: break-word;
        #textInput {
            outline: 0;
            border: 0;
            width: 90vw;
            font-size: 40px;
            font-weight: 800;
            margin-top: 40px;
            background: transparent;
            resize: none;

            position: sticky;
            top: 0;
            left: 16px;
            margin: 0;
        }
    }

    .position-container {
        position: absolute;
        bottom: 30%;
        left: calc(50% - 150px);
        #ranges {
            #fieldInput {
                height: 300px;
                width: 300px;
                margin-bottom: 32px;
                img {
                    height: 100%;
                    width: 100%;
                }
                // .half {
                //     outline: solid red 1px;
                //     height: 200px;
                //     width: 200px;
                // }
                // .bottom-and-right {
                //     position: absolute;
                //     right: 0;
                // }
            }
        }
        #deleteButton {
            position: absolute;
            right: -12%;
            bottom: 3%;
        }
        .input-container {
            display: flex;

            display: none;
            // #textInput {
                // outline: 0;
                // border: 0;
                // background: transparent;
                // position: absolute;
                // top: 0;
            // }
            #textInputLabel {
                position: absolute;
                width: 400px;
                height: 400px;
                margin-left: -50px;
                background: #333;
                // opacity: 0;

                display: flex;
                justify-content: center;

                .label-text {
                    margin-top: 32px;
                    font-size: 32px;
                    font-weight: 800;
                    color: white;
                }
            }
        }
    }
}
