{% extends "base.html" %}
{% block content %}

<section class="bg-dark">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card" id="chat1" style="border-radius: 15px;">
                    <div
                        class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                        style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <i class="fas fa-angle-left"></i>
                        <p class="mb-0 fw-bold">Emonication</p>
                        <i class="fas fa-times"></i>
                    </div>

                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-start mb-4">
                            <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                <p id="message">
                                    <!-- 変数nameに値があるとき -->
                                    {% if msg %}
                                    {{ msg }}
                                    <!-- 変数nameに値がないとき -->
                                    {% else %}
                                    {{ instraction }}
                                    {% endif %}
                                </p>
                                <form action="/post" method="post" class="form-inline"></form>
                            </div>
                        </div>

                        <div class="d-flex flex-row justify-content-start mb-4">
                            <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                <p>
                                    <!-- 変数nameに値があるとき -->
                                    {% if msg %}
                                    {{ emotion }}
                                    <!-- 変数nameに値がないとき -->
                                    {% else %}
                                    "不明"
                                    {% endif %}
                                </p>
                                <form action="/post" method="post" class="form-inline">
                            </div>
                        </div>

                        <div class="form-outline">
                            <textarea class="form-control" id="msg" name="msg" cols="50" rows="10" maxlength="200"></textarea>
                            <button type="submit" class="btn btn-success">送信する</button>
                            <a href="javascript:onClick()">スタイル変更</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function onClick() {
    var label = {{label|tojson}};
    var score = {{score|tojson}};
    if (label == "ポジティブ") {
        document.getElementById("message").classList.add("happy");
    } else if (label == "ネガティブ") {
        document.getElementById("message").classList.add("sad");
    } else {
        document.getElementById("message").classList.add("nomal");
    }
}
</script>
{% endblock %}
