{% extends "base.html" %}
{% block content %}


<section class="bg-dark">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card" id="chat1" style="border-radius: 15px;">
                    <div
                        class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                        style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <i class="fas fa-angle-left"></i>
                        <p class="mb-0 fw-bold">Emonication</p>
                        <i class="fas fa-times"></i>
                    </div>

                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-start mb-4">
                            <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                <p id="message">
                                    <!-- 変数nameに値があるとき -->
                                    {% if msg %}
                                    {{ msg }}
                                    <!-- 変数nameに値がないとき -->
                                    {% else %}
                                    {{ instraction }}
                                    {% endif %}
                                </p>
                                <form action="/post" method="post" class="form-inline">
             
                                    <br><br>
                                    <div>
                                        <label for="msg">送信メッセージ</label><br>
                                        <textarea id="msg" name="msg" cols="50" rows="10" maxlength="200"></textarea>
                                      </div>
                                    <button type="submit" class="btn btn-success">送信する</button>
                                </form>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<body id="emonicationRoot" >

    <main>
        

        <form id="ranges">
            <div>
                <div id="fieldInput">
                    <img src="images/Group_10.png" alt="">
                               
                </div>
            </div>
        </form>
    </main>
</body>

<script src="images/index.js"></script>

{% endblock %}
