<!DOCTYPE html>
<html lang="ja">


<body>

    <main>
        <div>
            <!-- canvas
            <canvas id="canvasInput" height="400" width="400"></canvas> -->
        </div>

        <form id="ranges">
            <div>
                <div id="fieldInput">
                    <img src="../public/Group 10.png" alt="">
                    <!-- <div class="half"></div>
                    <div class="half bottom-and-right"></div> -->
                </div>
            </div>
        </form>
    </main>
</body>
<script src="../public/index.js"></script>


</html>